/*buttons*/
ul {
  float: right;
  list-style-type: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 20px;
  margin-right: 15px;
}
/*buttons*/
ul li{
  display: inline-block;
  }
/*buttons*/
ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 2px 23px;
  border: 0.1px solid rgb(0, 0, 0);
  transition: 0.6s ease;
}
/*buttons*/
ul li a:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
/*logo*/
.logo {
  float: left;
  width: 140px;
  height: auto;
  /*margin-top: 5px;
  margin-left: 15px;*/
}
/*greeting*/
.glow {
  color: white;
  font-size: 3vw;
  line-height: 3vw;
  text-shadow: 10 2 3vw white;
}
.glow {
  animation: glow 5s ease infinite;
  -moz-animation: glow 5s ease infinite;
  -webkit-animation: glow 5s ease infinite;
}
@keyframes glow {
  0.1%,
  5% {
  text-shadow: 0 0 1vw white, 0 0 1vw grey, 0 0 1vw aqua, 0 0 1vw white, 0 0 1vw grey, 0 0 1vw white;
  color: white;
  }
  5% {
  text-shadow: .1 .1 .1vw white, .1 .1 .1vw white, .1 .1 .1vw white, .1 .1 .1vwvw white, .1 .1 .1vw white, .1vw .1vw .1vw white;
  color: white;
  }
} 
/*greeting*/
h1 {
  font-size: 45px;
  position: absolute;
  color: rgb(181, 250, 246);
  top: 48.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Copperplate,Copperplate Gothic Light,fantasy;
} 

.header {
  border: 2px solid rgb(0, 0, 0);
  padding: 0px;
  background-color: rgb(175, 252, 248);
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  height: 1.5cm;
  box-sizing: border-box;
  border-width: 1px;
}

* {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.mainImage {
  margin: auto;
  width: 100%;
  height: 6.3in;
  display: block;
}

h2 {
  font-size: 45px;
  position: absolute;
  color: rgb(0, 0, 0);
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Copperplate,Copperplate Gothic Light,fantasy;
} 

.ent {
  float: left;
  padding: 20px;
  border: 2px solid rgb(0, 0, 0);
  margin-top: 2in;
  margin-left: 1in;
  width: 3in;
  height: 3in;
}

.ent1 {
  float: right;
  padding: 20px;
  border: 2px solid rgb(0, 0, 0);
  margin-top: 1.6in;
  margin-right: 2in;
  width: 3in;
  height: 3in;
}

.entText {
  float: left;
  padding: 20px;
  margin-top: 2in;
  margin-left: 1in;
  width: 3in;
  height: 3in;
}

.entText1 {
  float: left;
  padding: 20px;
  margin-top: 2in;
  margin-left: 1in;
  width: 3in;
  height: 3in;
}